<!-- <%- include('../../header.ejs') %>

<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                            <li><a href="/admin/blogdisplay" class="active">Blogs</a></li>
                            <li><a href="/admin/categorydisplay">Categories</a></li>
                            <li><a href="/admin/aboutdisplay">About</a></li>
                            <li><a href="/admin/contactdisplay">Contact</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1>View</h1>
                            </div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Add About
                              </button>
                        </div>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>#ID</th>
                                <th>About</th>
                            </tr>
                            
                                <tr>
                                    <td><%= view._id %></td>
                                    
                                    <td><%= view.about %></td>
                                   
                                  
                                </tr>
                           
                            
        
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>


  
 -->

<!-- <%- include('../../footer.ejs') %> -->